.about {
  margin-bottom: 120px;
  padding: 40px 0;
}

.about__wrapper {
  display: flex;

  background-color: #FFFFFF;
  background-image: url('../img/about.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 530px auto;
}

.about__text-wrapper {
  width: 500px;
  margin-left: auto;
  padding: 40px;
}

.about__title {
  margin: 0;
  margin-bottom: 25px;

  @include Cormorant_bold();
}

.about__description {
  margin: 0;
  margin-bottom: 20px;
}

@media (max-width: 1200px) {
  .about {
    margin-bottom: 80px;
  }

  .about__wrapper {
    background-size: 400px;
  }

  .about__text-wrapper {
    width: 440px;
    padding: 30px 40px;
  }

  .about__title {
    margin-bottom: 10px;

    font-size: 42px;
    line-height: 48px;
  }

  .about__description {
    font-size: 14px;

    span {
      display: none;
    }
  }
}

@media (max-width: 960px) {
  .about {
    margin-bottom: 40px;
  }

  .about__wrapper {
    background-size: cover;
  }

  .about__text-wrapper {
    width: auto;
    background-color: #FFFFFF;

    opacity: 0.8;
  }
}

@media (max-width: 550px) {
  .about__text-wrapper {
    padding: 20px;
  }

  .about__title {
    font-size: 28px;
    line-height: 36px;
  }
}
