.features-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-list__item {
  position: relative;

  width: 330px;
  margin-right: 25px;
  margin-bottom: 60px;
  padding-left: 115px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &::before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;

    width: 100px;
    height: 100px;

    background-repeat: no-repeat;
    background-position: right center;
    background-size: 83px auto;
  }

  &--1 {
    &::before {
      background-image: url('../img/features1.png');
    }
  }

  &--2 {
    &::before {
      background-image: url('../img/features2.png');
      background-size: 90px auto;
    }
  }

  &--3 {
    &::before {
      background-image: url('../img/features3.png');
      background-size: 85px;
    }
  }

  &--4 {
    &::before {
      background-image: url('../img/features4.png');
      background-size: 100px auto;
    }
  }

  &--5 {
    &::before {
      background-image: url('../img/features5.png');
      background-size: 85px;
    }
  }

  &--6 {
    &::before {
      background-image: url('../img/features6.png');
      background-size: 90px;
    }
  }
}

.features-list__title {
  margin: 0;
  margin-bottom: 10px;

  @include Montserrat_semibold(14px, 20px);
}

.features-list__description {
  margin: 0;

  font-size: 12px;
  line-height: 18px;
}

@media (max-width: 1199px) {
  .features-list {
    justify-content: center;
  }

  .features-list__item {
    margin-right: 60px;

    &:nth-child(3n) {
      margin-right: 60px;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

@media (max-width: 959px) {
  .features-list__item {
    width: auto;
    max-width: 450px;
    margin-right: 0;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

@media (max-width: 549px) {
  .features-list__item {
    margin-bottom: 20px;
    padding-left: 75px;

    &::before {
      width: 60px;
      height: 60px;
    }

    &--1 {
      &::before {
        background-size: 46px auto;
      }
    }

    &--2 {
      &::before {
        background-size: 51px auto;
      }
    }

    &--3 {
      &::before {
        background-size: 49px;
      }
    }

    &--4 {
      &::before {
        background-size: 60px auto;
      }
    }

    &--5 {
      &::before {
        background-size: 49px;
      }
    }

    &--6 {
      &::before {
        background-size: 50px;
      }
    }
  }

  .features-list__title {
    width: 205px;
    margin-top: 10px;

    font-weight: 400;
  }

  .features-list__description {
    display: none;
  }
}
