.gallery-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;

  list-style: none;
}

.gallery-list__item {
  margin-right: 40px;
  margin-bottom: 40px;
  overflow: hidden;

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.gallery-list__link {
  position: relative;
  display: block;

  &:hover {
    .gallery-list__image {
      transform: scale(1.1);
    }
  }
}

.gallery-list__image {
  vertical-align: middle;

  transition-duration: 0.4s;
}

@media (max-width: 1200px) {
  .gallery-list__image {
    &--1 {
      width: 540px;
    }

    &--2 {
      width: 259px;
    }

    &--3 {
      width: 400px;
    }

    &--4 {
      width: 400px;
    }
  }
}

@media (max-width: 960px) {
  .gallery-list__item {
    margin: 0;
    margin-bottom: 20px;
  }

  .gallery-list__image {
    width: 600px;
  }
}
