.page-header {
  min-height: 150px;
  margin-bottom: 100px;
}

.page-header__wrapper {
  display: grid;
  grid-template-columns: 2fr 7fr 3fr;
  grid-template-rows: 70px auto auto auto;
  align-items: center;
  padding: 0 100px 180px;

  background-image: url('../img/header-bg-desktop.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 500px auto;
}

.page-header__logo {
  display: flex;
  align-items: center;
  width: 120px;

  img {
    display: block;
    margin-right: 10px;
  }

  span {
    @include Andantino();
  }
}

.page-header__nav {
  justify-self: center;
  padding-top: 15px;
}

.page-header__contacts {
  padding-top: 35px;
  text-align: right;
}

.page-header__phone {
  font-weight: 700;
}

.page-header__text {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;

  border-bottom: 1px dashed $text-color;

  &:hover {
    color: $accent-color;
    border-color: $accent-color;
  }

  &:active {
    opacity: 0.5;
  }
}

.page-header__title {
  grid-column: 1/4;
  margin: 0;
  margin-top: 170px;
  margin-bottom: 30px;

  @include Cormorant_bold();
}

.page-header__subtitle {
  grid-column: 1/4;
  width: 530px;
  margin: 0;
  margin-bottom: 50px;
}

.page-header__wrapper-button {
  grid-column: 1/4;
}

.page-header__button {
  margin-right: 10px;
}

@media (max-width: 1020px) {
  .page-header__wrapper {
    grid-template-columns: 4fr 4fr 4fr;
    padding-bottom: 120px;

    background-size: 450px;
  }

  .page-header__logo {
    justify-self: end;
    grid-column: 3/4;
  }

  .page-header__nav {
    padding: 0;
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .page-header__contacts {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0;
    justify-self: center;
    text-align: center;
  }

  .page-header__title {
    margin-top: 120px;
    margin-bottom: 20px;
    font-size: 45px;
  }

  .page-header__subtitle {
    width: 430px;
    margin-bottom: 30px;
    font-size: 14px;
  }

  .page-header__button {
    min-width: 150px;
    padding: 15px 15px;
    font-size: 12px;
  }
}

@media (max-width: 860px) {
  .page-header__title {
    font-size: 36px;
  }

  .page-header__subtitle {
    width: 330px;

    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .page-header__wrapper {
    padding-left: 20px;
    padding-right: 20px;

    background-size: 300px auto;
    background-position: top 80px center;
  }

  .page-header__phone {
    font-size: 14px;
  }

  .page-header__title {
    justify-self: center;
    margin-top: 360px;
    margin-bottom: 20px;

    font-size: 32px;
    text-align: center;
  }

  .page-header__subtitle {
    width: auto;
    max-width: 320px;
    justify-self: center;
    text-align: center;
  }

  .page-header__wrapper-button {
    justify-self: center;
    text-align: center;
  }

  .page-header__button {
    margin-bottom: 10px;
  }
}

@media (max-width: 600px) {
  .page-header__wrapper {
    padding-bottom: 80px;
  }

  .page-header__title {
    font-size: 28px;
    line-height: 38px;
  }

  .page-header__button {
    width: 100%;
  }
}

@media (max-width: 450px) {
  .page-header {
    margin-bottom: 40px;
  }

  .page-header__logo {
    display: none;
  }

  .page-header__contacts {
    grid-column: 2/4;
    text-align: right;
    justify-self: right;
  }
}
