.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 490px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.menu__link {
  transition-duration: 0.2s;

  &:hover {
    color: $accent-color;
  }

  &:active {
    color: darken($accent-color, 10%);
  }
}

@media (max-width: 1200px) {
  .menu {
    width: 400px;
  }

  .menu__item {
    margin-right: 20px;

    font-size: 14px;
  }
}

@media (max-width: 960px) {
  .menu {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
  }

  .menu__item {
    margin-right: 0;
    margin-bottom: 10px;
    order: 1;
  }
}
