.menu {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 490px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.menu__item {
  margin-right: 30px;

  a {
    display: block;

    &:hover {
      color: $accent-color;
    }

    &:active {
      opacity: 0.4;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: 1020px) {
  .menu__item {
    padding: 5px;
    margin-right: 0;
  }
}
