.main-nav__button {
  position: relative;

  display: none;
  width: 30px;
  height: 30px;
  border: none;

  background-color: transparent;

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;

    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/burger.svg');
  }
}

@media (max-width: 1020px) {
  .main-nav__button {
    display: block;
  }

  .main-nav__list {
    // display: none;
  }
}
