.service {
  width: 500px;
  margin-bottom: 40px;

  background-color: #FFFFFF;
}

.service__content {
  padding: 30px 34px;
}

.service__link {
  display: block;

  &:hover {
    .service__image {
      transform: scale(1.1);
    }

    .service__title {
      border-color: $accent-color;

      color: $accent-color;
    }
  }
}

.service__image-wrapper {
  width: 500px;
  height: 325px;
  overflow: hidden;
  vertical-align: middle;
}

.service__image {
  width: 100%;

  transition-duration: 0.4s;
}

.service__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 20px;
  border-bottom: 2px solid #FFFFFF;

  font-size: 24px;
  line-height: 28px;
  font-weight: 600;

  transition-duration: 0.2s;
}

.service__description {
  margin: 0;

  font-size: 14px;
  line-height: 20px;
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .service {
    width: 400px;

    background-size: 400px auto;
  }

  .service__image-wrapper {
    width: 400px;
    height: 260px;
  }
}

@media (max-width: 960px) {
  .service {
    width: auto;

    background-size: contain;
  }

  .service__image-wrapper {
    width: auto;
    height: auto;
  }
}

@media (max-width: 550px) {
  .service__title {
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 26px;
  }

  .service__content {
    padding: 20px;
  }
}
