.team-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.team-list__item {
  text-align: center;

  &:hover {
    .team-list__image {
      transform: scale(1.05);
    }
  }
}

.team-list__image {
  width: 225px;

  vertical-align: middle;
  text-align: center;

  transition: 0.4s;
}

.team-list__image-wrapper {
  overflow: hidden;
  width: 225px;
}

.team-list__content-wrapper {
  width: 225px;
  margin: 0 auto;
  padding: 20px 10px;
  box-sizing: border-box;

  background-color: #FFFFFF;
}

.team-list__title {
  margin: 0;

  @include Montserrat_semibold(17px, 28px);
}

.team-list__subtitle {
  margin: 0;
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 20px;
}

@media (max-width: 960px) {
  .team-list__item {
    &:hover {
      .team-list__image {
        transform: none;
      }
    }
  }
}

@media (max-width: 550px) {
  .team-list__image-wrapper {
    width: 240px;
  }
}
