@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
        url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Cormorant Infant';
    src: local('Cormorant Infant Bold'), local('CormorantInfant-Bold'),
        url('../fonts/CormorantInfant-Bold.woff2') format('woff2'),
        url('../fonts/CormorantInfant-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Andantino script';
    src: local('Andantino script'), local('Andantinoscript'),
        url('../fonts/Andantinoscript.woff2') format('woff2'),
        url('../fonts/Andantinoscript.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  max-width: 1240px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;

  @include Montserrat_regular();
}

img {
  max-width: 100%;
  height: auto;
}

a {
  font-family: inherit;
  text-decoration: none;
  color: inherit;
}

input[type=text] {
  font-family: inherit;
}

.button {
  display: inline-block;
  min-width: 175px;
  padding: 18px 20px 19px;
  border: 1px solid $accent-color;
  border-radius: 3px;

  color: #ffffff;
  text-align: center;
  @include Montserrat_regular(14px, 14px);

  background-color: $accent-color;
  cursor: pointer;

  &:hover {
    border-color: darken($accent-color, 10%);
    background-color: darken($accent-color, 10%);
    color: #ffffff;
  }

  &:active {
    color: darken(#ffffff, 50%);
  }

  &--nobg {
    border: 1px solid $accent-color;

    color: $accent-color;
    background-color: transparent;
  }
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
